<div class="container">
  <p-table [value]="this.licensesList.license" [paginator]="true" [rows]="10" [first]="first">
    <ng-template pTemplate="header">
      <tr>
        <th>เลขที่</th>
        <th>เลขที่นิติบุคคล</th>
        <th>ชื่อบริษัท</th>
        <th>ประเภทใบอนุญาต</th>
        <th>เลขที่ใบอนุญาต</th>
        <th>บริการที่ได้รับอนุญาต</th>
        <th>ปีที่ได้รับอนุญาต</th>
        <th>วันที่ได้รับอนุญาต</th>
        <th>วันที่สิ้นสุดการอนุญาต</th>
        <th>เงื่อนไข</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-licensesList.license>
      <tr *ngFor='let data of this.licensesList.license'>
        <td>{{data.no}}</td>
        <td>{{data.juristicNo}}</td>
        <td>{{data.companyName}}</td>
        <td>{{data.licenseGroupType}}</td>
        <td>{{data.licenseNo}}</td>
        <td>{{data.serviceId}}</td>
        <td>{{data.effectiveYear}}</td>
        <td>{{data.issueDate}}</td>
        <td>{{data.expireDate}}</td>
        <td>{{data.fileCondition}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>