<div class="container">
  <div class="table-responsive-md">
    <table class="table table-bordered text-center">
      <thead class="text-primary">
        <tr>
          <th>ลำดับ</th>
          <th>เลขที่นิติบุคคล</th>
          <th>ชื่อบริษัท</th>
          <th>ประเภทใบอนุญาต</th>
          <th>เลขที่ใบอนุญาต</th>
          <th>บริการที่ได้รับอนุญาต</th>
          <th>ปีที่ได้รับอนุญาต</th>
          <th>วันที่ได้รับอนุญาต</th>
          <th>วันที่สิ้นสุดการอนุญาต</th>
          <th>เงื่อนไข</th>
        </tr>
      </thead>
    </table>
  </div>
</div>