<app-nav></app-nav>
<form class="container">
  <div class="row">
    <h5>
      <dt>ค้นหาผู้รับอนุญาต</dt>
    </h5>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label>เลขที่นิติบุคคล</label>
      <input #entitynumber id="entitynumber" type="text" class="form-control" placeholder="1234567890">
    </div>
    <div class="col-md-6">
      <label>ชื่อผู้รับอนุญาต</label>
      <input #fullname id="fullname" type="text" class="form-control" placeholder="ชื่อ-นามสกุล">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <label>ประเภทใบอนุญาต</label>
      <select #licensecategory id="licensecategory" class="form-control" >
        <option>เลือกประเภทใบอนุญาต</option>
        <option>ประเภทที่ 1</option>
        <option>ประเภทที่ 2</option>
        <option>ประเภทที่ 3</option>
        <option>ประเภทที่ 4</option>
      </select>
    </div>
    <div class="col-md-3">
      <label>แบบใบอนุญาต</label>
      <div class="dropdown">
        <select #licenseform id="licenseform" class="form-control" >
          <option>เลือกแบบใบอนุญาต</option>
          <option>แบบที่ 1</option>
          <option>แบบที่ 2</option>
          <option>แบบที่ 3</option>
          <option>แบบที่ 4</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <label>เลขที่ใบอนุญาต</label>
      <input #licensenumber id="licensenumber" type="text" class="form-control" placeholder="1234567890">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label>บริการที่ได้รับอนุญาต</label>
      <select #servicecategory id="servicecategory" class="form-control" >
          <option>เลือกบริการที่ได้รับอนุญาต</option>
          <option>บริการที่ 1</option>
          <option>บริการที่ 2</option>
          <option>บริการที่ 3</option>
          <option>บริการที่ 4</option>
        </select>
    </div>
    <div class="col-md-6">
      <div ng-controller="yearselecter">
        <label>ปีที่ได้รับอนุญาต</label>
        <select #yearcategory id="yearcategory" class="form-control" >
          <option>เลือกปีที่ได้รับอนุญาต</option>
          <option>2562</option>
          <option>2561</option>
          <option>2560</option>
          <option>2559</option>
        </select>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label>วันที่ได้รับอนุญาต</label>
      <div class="row">
        <div class="col-md-12">
          <div class="input-daterange input-group" id="startDatepicker">
            <div class="input-group-prepend">
              <span class="input-group-text">จากวันที่</span>
            </div>
            <input type="text" class="input form-control" id="startDate1" placeholder="วัน/เดือน/ปี">
            <div class="input-group-prepend">
              <span class="input-group-text">ถึงวันที่</span>
            </div>
            <input type="text" class="input form-control" id="startDate2" placeholder="วัน/เดือน/ปี">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label>วันที่สิ้นสุดการอนุญาต</label>
      <div class="row">
        <div class="col-md-12">
          <div class="input-daterange input-group" id="endDatepicker">
            <div class="input-group-prepend">
              <span class="input-group-text">จากวันที่</span>
            </div>
            <input type="text" class="input form-control" id="endDate1" placeholder="วัน/เดือน/ปี">
            <div class="input-group-prepend">
              <span class="input-group-text">ถึงวันที่</span>
            </div>
            <input type="text" class="input form-control" id="endDate2" placeholder="วัน/เดือน/ปี">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 text-center">
      <button (click)="search(entitynumber.value, fullname.value, licensecategory.value, licenseform.value, licensenumber.value, servicecategory.value, yearcategory.value)" type="button" class="btn btn-primary" id="searchbtn">ค้นหา</button>
    </div>
  </div>
</form>
<br>
<app-table-template [licenses]="licenses" *ngIf="showTable"></app-table-template>