<app-nav></app-nav>
<form class="container">
  <div class="row">
    <h5>
      <dt>ค้นหาผู้รับอนุญาต</dt>
    </h5>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label>เลขที่นิติบุคคล</label>
      <input #juristicNo id="juristicNo" type="text" class="form-control" placeholder="1234567890">
    </div>
    <div class="col-md-6">
      <label>ชื่อผู้รับอนุญาต</label>
      <input #companyName id="companyName" type="text" class="form-control" placeholder="ชื่อ-นามสกุล">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <label>ประเภทใบอนุญาต</label>
      <select #licenseType id="licenseType" class="form-control">
        <option>เลือกประเภทใบอนุญาต</option>
        <option>ประเภทที่ 1</option>
        <option>ประเภทที่ 2</option>
        <option>ประเภทที่ 3</option>
        <option>ประเภทที่ 4</option>
      </select>
    </div>
    <div class="col-md-3">
      <label>แบบใบอนุญาต</label>
      <div class="dropdown">
        <select #licenseGroupType id="licenseGroupType" class="form-control">
          <option>เลือกแบบใบอนุญาต</option>
          <option>แบบที่ 1</option>
          <option>แบบที่ 2</option>
          <option>แบบที่ 3</option>
          <option>แบบที่ 4</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <label>เลขที่ใบอนุญาต</label>
      <input #licenseNo id="licenseNo" type="text" class="form-control" placeholder="1234567890">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label>บริการที่ได้รับอนุญาต</label>
      <select #service id="service" class="form-control">
        <option>เลือกบริการที่ได้รับอนุญาต</option>
        <option>บริการที่ 1</option>
        <option>บริการที่ 2</option>
        <option>บริการที่ 3</option>
        <option>บริการที่ 4</option>
      </select>
    </div>
    <div class="col-md-6">
      <div ng-controller="yearselecter">
        <label>ปีที่ได้รับอนุญาต</label>
        <select #effectiveYear id="effectiveYear" class="form-control">
          <option>เลือกปีที่ได้รับอนุญาต</option>
          <option>2562</option>
          <option>2561</option>
          <option>2560</option>
          <option>2559</option>
        </select>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label>วันที่ได้รับอนุญาต</label>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">จากวันที่</span>
            </div>
            <input class="form-control" #issueDateBegin id="issueDateBegin" type="text" placeholder="วัน/เดือน/ปี">
            <div class="input-group-prepend">
              <span class="input-group-text">ถึงวันที่</span>
            </div>
            <input class="form-control" #issueStartDateEnd id="issueStartDateEnd" type="text" placeholder="วัน/เดือน/ปี">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label>วันที่สิ้นสุดการอนุญาต</label>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">จากวันที่</span>
            </div>
            <input class="form-control" #expireDateBegin id="expireDateBegin" type="text" placeholder="วัน/เดือน/ปี">
            <div class="input-group-prepend">
              <span class="input-group-text">ถึงวันที่</span>
            </div>
            <input class="form-control" #expireDateEnd id="expireDateEnd" type="text" placeholder="วัน/เดือน/ปี">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 text-center">
      <button (click)="search(companyName.value, effectiveYear.value, expireDateBegin.value, expireDateEnd.value, issueDateBegin.value, issueStartDateEnd.value, juristicNo.value, licenseGroupType.value, licenseNo.value, licenseType.value, service.value)"
        type="button" class="btn btn-primary" id="searchbtn">ค้นหา</button>
    </div>
  </div>
</form>
<br>
<app-table-template [licenses]="data" *ngIf="showTable"></app-table-template>